// Default styles
.container {
  width: 100%;
  max-width: 100%;
  @include padding(left, 0.938);
  @include padding(right, 0.938);
  @include m-auto();
  box-sizing: border-box;

  @include media(">=lg") {
    width: 73.125rem;
  }
}

.clearfix {
  @include clearfix();
}

::selection {
  @include set-background(color(primary));
}

.text-center {
  @include text(center);
}

.align-center {
  @include align-center();
}

hr {
  @include line();
}

.success {
  color: color(success);
}
.danger {
  color: color(error);
}
.warning {
  color: color(warning);
}
.underline {
  text-decoration: underline;
}

.bg-light {
  @include set-background(color(bg-light));
}

/*.....scroll to top
......................*/
.scrollup {
  @include set-background(color(bg));
  padding: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  padding: 0.25rem;
  display: none;
  z-index: 3;

  i {
    padding: 0;
  }
}
